.button {
  min-width: 0vw;
}

.bar {
  min-height: 4.357vh;
}


.elbow:before{
  padding: 0.39vw 0.88vh; 
	letter-spacing:-0.08vw;
}

.elbow:after{
	font-size: 1.56vw; 
	padding: 0.625vh 0.55vw 0.625vh; 
	letter-spacing:-0.08vw;	
}

.elbow.default.horizontal{
	min-width: 7.227vw; 
	min-height: 11.563vh;	
}

.elbow.default.horizontal .block{
  /* min-height: 4.375vh; */
  min-height: 4.375vh;
  /* min-width: 2.734vw;  */
  min-width: 2.734vh;   
	border-width: 1.563vw; 
	border-style: solid;
}
.elbow.default.horizontal .bar{
	max-height: 3.75vh;
	min-width: 3.906vw;
}

/* Top Right Default Horizontal Elbow */
.top-right.default.horizontal{
	border-top-right-radius:92.5px; 
	text-align:left;
}

.top-right.default.horizontal .bar{
	top:0px; 
	right:calc(100% - 5px);
}

.top-right.default.horizontal .block{
	right:-15px;
	top:calc(100% - 20px);
	border-left:0px solid transparent; 
	border-bottom:0px solid transparent; 
	border-top-right-radius:70px; 
	border-bottom-left-radius: 50px;
	
}

.top-right.default.horizontal:before{bottom:0px; right:10px;}
.top-right.default.horizontal:after{top:0px; right:70px;}

/* Top Left Default Horizontal Elbow */
.top-left.default.horizontal{
	border-top-left-radius: 7.227vw; 
	text-align:right;
}

.top-left.default.horizontal .bar{
	top:0px; 
	left:calc(100% - 0.391vw);
}

.top-left.default.horizontal .block{
	top:calc(100% - 20px);
	left:-15px;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 50px;

}

.top-left.default.horizontal:before{bottom:0px; left:10px;}
.top-left.default.horizontal:after{top:0px; left:70px;}

/* Bottom Left Default Horizontal Elbow */
.bottom-left.default.horizontal{
  /* border-bottom-left-radius: 11.563vh;  */
  border-bottom-left-radius: 10vh;
	text-align:right;
}

.bottom-left.default.horizontal .bar{
	bottom:0px; 
	left:calc(100% - 0.391vw);
}

.bottom-left.default.horizontal .block{
	bottom:calc(100% - 2.5vh);
	left: -1.172vw;
	border-right:0px solid transparent; 
	border-top:0px solid transparent; 
	border-bottom-left-radius: 8.75vh; 
  /* border-top-right-radius: 6.25vh; */
  border-top-right-radius: 5vh;
}


.bottom-left.default.horizontal:before{top:0px; left: 0.781vw;}
.bottom-left.default.horizontal:after{bottom:0px; left: 0.781vw;}

/* Bottom Right Default Horizontal Elbow */
.bottom-right.default.horizontal{
	border-bottom-right-radius:92.5px; 
	text-align:left;
}

.bottom-right.default.horizontal > .bar{
	bottom:0px; 
	right:calc(100% - 5px);
}

.bottom-right.default.horizontal .block{
	border-left:0px solid transparent; 
	border-top:0px solid transparent; 
	border-bottom-right-radius:70px; 
	border-top-left-radius: 50px;
	bottom:calc(100% - 20px);
	right:-15px;
}

.bottom-right.default.horizontal:before{top:0px;right:10px;}
.bottom-right.default.horizontal:after{bottom:0px; right:70px;}


#viewportWrapper {
  height: 100vh;
  width: 100vw;
}

#topFrameRow {

}

#topFrameRow div {

}

#topFrameButton1 {
  width: 15vw;
  height: 15vh;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  text-align: right;
}

#topFrameElbow {
  width: 15vw;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
}

#topFrameBar1, #topFrameBar2, #topFrameBar3 {
  margin-top: 9.1vh;
}

#topFrameBar1 {
  margin-left: 3.91vw ;
  bottom: 0;
  width: 49.5vw;  
}

#topFrameBar2, #topFrameBar3 {
  width: 15vw;
}

#iframeWrapper {
	display: block;
	justify-content: center;
	align-items: normal;
	margin-top: 1vh;
	width: 100vw;
	height: 69vh !important;
	margin-left: 20vw;
}

#iframeWrapper a {
	width: 70vw;
	height: 50vh !important;
}

#iframeWrapper a iframe {
	height: 50vh !important;
}




